.logo {
  margin: 40% 0 0;
  max-width: 50%;
}

.heading {
  font-size: 130%;
  margin: 6% 0 0;
}

.sub-heading {
  margin: 5% 0 6%;
}

.content {
  background: #fff url('../img/sifoo-stripe.png') top right no-repeat;
  background-size: contain;
}
